<h1>Formulario para crear un nuevo tipo de comida</h1>

<<<<<<< HEAD
<%= render 'formulario', base_tipo_comida: @tipo_comida %>
<%= link_to 'volver', tipos_comidas_path %>
=======
<%= render 'formulario', base_tipo_comida: @tipo_comida  %>

<%= link_to 'Volver', tipos_comidas_path %>
>>>>>>> d5c6a7a5cc0c6997d0cc85fe03ebe85596bdce6c
