<h2>Editar el tipo de comida</h2>

<%= render 'formulario', base_tipo_comida: @tipo_comida %>
<<<<<<< HEAD
=======

>>>>>>> d5c6a7a5cc0c6997d0cc85fe03ebe85596bdce6c
<%= link_to tipos_comidas_path do%>
    Volver
<% end %>