<h2>Detalle Puntaje</h2>
<h3>id: <%= @puntaje.id %></h3>
<h1><%= @puntaje.tipo %></h1>



<%= link_to puntajes_path, class:"btn btn-primary" do %>
<i class="fas fa-arrow-circle-left"></i>Volver
<%end%>